* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #191919;
}

header {
    padding: 0px 30px;
    color: #fff;
    background-color: #050A30;
    position: sticky;
    z-index: 1;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    width: 100%;
}

header .img {
    height: 60px;
    width: 60px;
    margin-right: 10px;
    background-image: url(./assets/logo.png);
    background-size: cover;
}

header a {
    text-decoration: none;
    color: #fff;
}

header span {
    color: #ff5252;
}

.logo {
    font-size: 2rem;
    font-weight: 600;
    height: 100%;
    width: 114;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    font-size: 1.25rem;
    font-weight: 550;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 72px;
    width: 680px;
}

.nav i {
    margin-right: 8px;
    font-size: 1.3rem;
}

.nav a {
    text-decoration: none;
    color: #fff;
}

.faq-container {
    background-image: url(./assets/poster3.webp);
    background-size: contain;
    width: 900px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.faq-container h1 {
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 20px;
}

.question {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 15px;
    background-color: #3498db;
    color: #fff;
    border-radius: 4px;
}

.answer {
    display: none;
}

section{
    cursor: pointer;
}

.rotate {
    transform: rotate(45deg);
}